* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header {
   
    display:flex nowrap;
    background-image: url(images/header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   
}

.logo {
    padding: 20px;
    flex: 1 1 auto;
    height: 50px;
    align-items: center;
    display: flex;
}

.nav {
    margin: 20px;
 
    justify-content: space-around;
  
    flex:5 1 auto;
    height: 50px;
    display:flex;
   
    
}



.nav ul li {
 
   display: inline-block;
   padding: 10px;
   margin: auto 50px auto 10px;
   
   

}
.nav ul li a{
    text-decoration: none;
    color: gray;
    
}
.nav ul li i {
    margin-right: 5px;
    color: darkgrey;
}

.social {
  
  
  
    flex:1 1 auto;
    height: 50px;
    align-items: center;
   
    justify-content: flex-end;
}

.social ul li {
    padding: 5px;
    display:inline-block ;
   
}

.social ul li i {
    padding: 10px;
}

.banner {
    display:flex;
    justify-content: center;
    width: 70%;
    margin: 100px auto 0px auto;
     
    background-color: #00000026;

    

    padding: 50px 0;
}

.title {
    font-family: Garamond;
    font-weight: lighter;
    font-size: 40px;
    color: coral;
    
}



@media all and (max-width: 800px){
   

.logo {
    padding: 0px;
}

.menu {
    display: flex;
    flex-flow: row nowrap;
  
}   

.nav ul {
   
        align-items: center;
        justify-content: center;
    }

.nav ul li {
     display: flex nowrap;
                align-items: center;
        padding: 10px;
        margin: 5px auto;
    }


.banner {
    padding: 70px 80px 70px 80px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}
}


@media all and (max-width: 400px){
    .body {
        flex-direction: column;
    }

    .nav ul {
        align-items: center;
        justify-content: center;
    }

    .nav ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 5px auto;
    }

    .social {
        margin-bottom: 50px;
    }

    h1 {
        font-size: 25px;
    }
}