* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {

    font-family: 'Courier New', Courier, monospace;
    color: slategrey; 
}

.header {
   
    background-image: url(images/header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: contain;
    padding: 20px;
    width: 100%;
}
.menu {
  
    display:flex;


.menu-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo {
    padding: 20px;
    flex: 1 1 auto;
    height: 50px;
    align-items: center;
    display: flex;
}

.nav {
    margin: 20px;

    justify-content: space-around;
  
    flex:8 1 auto;
    height: 50px;
    display:flex 
    align-items: center; 
}



.nav ul li {
   /* padding: 15px;
    margin: auto 50px auto 10px;
    display: inline-flex;
   */
   display: inline-block;
   padding: 15px;
}

.nav ul li i {
    margin-right: 5px;
}

.social {
   /* display: flex;
    flex-flow:row nowrap;
    flex: 2 1 auto; */
    flex:1 1 auto;
    height: 50px;
    align-items: center;
    display: flex;}
    justify-content: flex-end;
}

.social ul li {
    padding: 5px;
    display:inline-block ;
   
}

.social ul li i {
    padding: 10px;
}

.banner {
   /* display:inline-flex
    justify-content: center;
    width: 100%;
   
    margin: 100px auto 0px auto;
    padding: 50px 80px 100px 80px;  */
    align-self: flex-end;
    width: 100%;
    text-align: center;
    padding: 50px 0;
}

.banner h1{
    font-family: Garamond;
    font-weight: lighter;
    font-size: 40px;
    color: coral;
    
}




@media only screen and (max-width: 768px) {
    .body {
        padding: 20px;
    }

    .logo {
        padding: 0px;
    }

    .box-menu {
        flex-flow: row nowrap;
        justify-content: center;
    }

    .box-menu ul li {
        padding: 5px;
        margin: auto;
    }

    .box-2 {
        padding: 70px 80px 70px 80px;
    }

    h1 {
        text-align: center;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .body {
        flex-direction: column;
    }

    .nav ul {
        align-items: center;
        justify-content: center;
    }

    .nav ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 5px auto;
    }

    .social {
        margin-bottom: 50px;
    }

    h1 {
        font-size: 25px;
    }
}
